<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>

<div sec:authorize="!isAuthenticated()">
	<h1 align="center">欢迎进入Dashboard</h1>
	<h2 align="center">游客您好<button class="btn btn-lg btn-primary btn-block" th:href="@{/user/login}" type="submit" th:text="#{login.btn}">登陆</button></h2>
</div>
<div sec:authorize="isAuthenticated()">
	<h2 align="center"><button class="btn btn-lg btn-primary btn-block" th:href="@{/user/login}" type="submit" th:text="#{login.btn}">点击进入你的Dashboard</button></h2>
</div>
</body>
</html>